.env
.idea/aidbot-api.iml
.idea/jsLibraryMappings.xml
.idea/misc.xml
.idea/modules.xml
.idea/vcs.xml
.idea/workspace.xml
Dockerfile
node_modules
support/about_us-1.txt
support/about_us-2.txt
support/about_us-3.txt
support/about_us-4.txt
support/billing_and_payment-1.txt
support/billing_and_payment-2.txt
support/billing_and_payment-3.txt
support/billing_and_payment-4.txt
support/billing_and_payment-5.txt
support/billing_and_payment-6.txt
support/billing_and_payment-7.txt
support/billing_and_payment-8.txt
support/manage_my_subscription-1.txt
support/manage_my_subscription-2.txt
support/manage_my_subscription-3.txt
support/manage_my_subscription-4.txt
support/promos_and_other_faq-1.txt
support/promos_and_other_faq-2.txt
support/promos_and_other_faq-3.txt
support/promos_and_other_faq-4.txt
support/sales_and_new_application-1.txt
support/sales_and_new_application-2.txt
support/sales_and_new_application-3.txt
support/sales_and_new_application-4.txt
support/sales_and_new_application-5.txt
support/technical_and_connection_issues-1.txt
support/technical_and_connection_issues-2.txt
support/technical_and_connection_issues-3.txt
support/technical_and_connection_issues-4.txt
support/technical_and_connection_issues-5.txt
